{
  "presets": [
    // webpack understands the native import syntax, and uses it for tree shaking
    ["es2015", {"modules": false}],

    "react"
    // Transpile React components to JavaScript
  ],
  "plugins": [
    // Enables usage of object rest spread in arguments
    "transform-object-rest-spread"
  ]
}
