# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Avoid trailing whitespace
[*.js,*.styl]
trim_trailing_whitespace = true

# Set default charset for JS files
[*.js]
charset = utf-8

# Matches multiple file types with brace expansion notation:
# and sets 2-space indentation
[*.{js,styl,json,yml}]
indent_style = space
indent_size = 2
