.EntryComposer {
  overflow: hidden;

  h2 {
    color: #222;
  }

  label {
    font-size: 18px;
    font-weight: normal;
  }

  input[type="text"],
  textarea {
    width: 100%;
    display: block
    padding: 3px 0.5em;
  }

  textarea {
    min-height: 200px;
  }

  button {
    float: right;
    padding: 0.5em 1em;
    background-color: maroon;
  }

  .error {
    font-size: 0.9em;
    color: red;
    font-style: italic;
    margin-bottom: 0;
  }
}
