.entry {
  text-align: left;
  padding: 0.5em;
  width: 100%;
  border: 1px solid grey;
  border-radius: 2px;
  margin-bottom: 1em;
  background-color: white;

  h2 {
    color: #222;
    transition: color 200ms;
  }

  p {
    color: #666;
    transition: color 200ms;
  }

  &:focus {
    background-color: white;
  }

  &:hover {
    border-radius: 3px;
    background-color: #333;
    h2 {
      color: white;
    }
    p {
      color: #bbb;
    }
  }

  &.selected {
    border-radius: 3px;
    background-color: black;
    h2 {
      color: white;
    }
    p {
      color: #bbb;
    }
  }
}
