* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, Times, 'Times New Roman', serif;
}
